<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hardisk" class="com.laptop.app.Samsung"></bean>
    <bean id="ram" class="com.laptop.app.Patriot"></bean>
    <bean id="cpu" class="com.laptop.app.Amd"></bean>
    
    <bean id="owner" class="com.other.info.Owner">
    	<property name="ownerName" value="Sushant Prajapati"></property>
    	<property name="address">
    	<bean class="com.other.info.Address">
    		<constructor-arg name="houseName" value="104/92 East Lok Pur"></constructor-arg>
    		<constructor-arg name="town" value="Naini"></constructor-arg>
    		<constructor-arg name="district" value="Prayagraj"></constructor-arg>
    		<constructor-arg name="state" value="UP"></constructor-arg>
    	</bean>
    	</property>
    </bean>

    <bean id="seller" class="com.other.info.Seller">
    	<property name="sellerName" value="Abhilash Pathak"></property>
    	<property name="address">
    	<bean class="com.other.info.Address">
    		<constructor-arg name="houseName" value="Indira Bhavan"></constructor-arg>
    		<constructor-arg name="town" value="Civil Lines"></constructor-arg>
    		<constructor-arg name="district" value="Prayagraj"></constructor-arg>
    		<constructor-arg name="state" value="UP"></constructor-arg>
    	</bean>
    	</property>
    </bean>
    
    
</beans>